*.o
*.cbp
bindings/*.cmake
src/*.cmake
_deps
CMakeCache.txt
cmake_install.cmake
bin/
build/
CMakeLists.txt.user
**/CMakeFiles/
venv
**/.idea
CMakeScripts
Testing
Makefile
*.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

**/**.in


cmake-build-debug/

c++11-features/async_task/async_task.exe

**/**.so

.tags
.tags1

**.log
**/**.log




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/__pycache__

.tags
.tags1

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
