CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
.vscode

**.log
**/**.log

compile_commands.json
.cache
.ccls-cache
*.tags
*.tags1
